<template name="appHeaderLayout">
  <header class="wideBar btmBorder">
    <div>
      <h1 class="center">Slangtionary</h1>
      <ul>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Language</a></li>
        <li><a href="#">Currency</a></li>
      </ul>
    </div>
    <div>
      <div> Search Bar </div>
      <ul>
        <li><button>Add Word</button></li>
        <li><button>Random Word</button></li>
        <!--{{ logged in }}
          {{ profile_button }}
        {{ }}
          {{ sign_in_button}}
        {{ }}-->
      </ul>
    </div>
  </header>
</template>
