<body>
  <footer class="wideBar topBorder">
    <p>Developed through <a href="https://github.com/marhalish/slangtionary">GitHub</a> & <a href="https://utopian.io/project/marhalish/slangtionary/github/116466707/all">Utopian.io</a></p>
    <span><a href="https://busy.org/@slangtionary">Busy.org</a></span>
    <span><a href="https://twitter.com/slangtionary1">Twitter</a></span>
    <span><a href="https://www.facebook.com/Slangtionary1/">Facebook</a></span>
    <span><a href="https://www.instagram.com/slangtionary1/">Instagram</a></span>
  </footer>
</body>
